<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>二维码生成器</title>
  </head>
  <body>
    <h1>名片二维码</h1>
    <form action="." method="post">
      {% csrf_token %}
      <p>name: <input type="text" name="name" /></p>
      <p>phone: <input type="text" name="phone" /></p>
      <p>email: <input type="text" name="email" /></p>
      <input type="submit" value="Generate" />
    </form>
  </body>
</html>
